<form class="form" action="/todo/{{id}}?_method=PUT" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" value="{{title}}" class="form-control" placeholder="Enter a todo" aria-describedby="form" name='title'>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" value="{{description}}" name="description" id="description" class="form-control" placeholder="Enter description"
            aria-describedby="helpId">
      </textarea>
    </div>
    <div class="form-group">
        <label for="priority">Priority</label>
        <select class="form-control" name="priority" id="priority">
            {{#select priority}}
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            {{/select}}
        </select>
    </div>
    <button type="submit" class= "btn btn-default btn-success">
        UPDATE
    </button>
</form>